section(class="about")
  p.
    Reuben Son is an NYC-based software developer and musician.

  p.
    His work explores how compositional complexity can emerge from simple interactions between materials, systems, and environments. He places particular focus on how things happen to sound, the ambiguous ways in which causality may become diffuse as actions become audible

  p.
    He has performed at venues and events such as the Goethe-Institut in Boston, Eyebeam (NYC), Caramoor Center for Music and the Arts (Katonah, NY), and the Contemporary Arts International at the Quarry (Acton, MA). Outside of his own work, he has worked in various engineering capacities for artists such as Eli Keszler, James Hoff, David Grubbs, and Glenn Jones.
