-
  projects = ["About", "Selected Discography"]

section("About",class="CV")
  h2
   //a(href='projects') About
  .projects-index
    each project in projects
      //div(id=project.split(' ').join('-'), class='project')
      div(class='project')
        .project-description
          h3
            a(href='projects/'+project.split(' ').join('-'))= project
          div(id= project.replace(' ','-'), class='project-show-image')
          .project-description-text
            != templateRender('projects/'+project.split(' ').join('-')+'.html')
