block append navbar
  nav
    a(href="/" id="logo" class="nav-item") Reuben Son
    //a(href="http://reubenson.github.io/" class="nav-item") Blog
    a(href="http://twitter.com/prvtchronology" class="nav-item")
      i(class="fa fa-twitter-square")
    a(href="https://github.com/reubenson" class="nav-item")
      i(class="fa fa-github-square")
    a(href="https://www.linkedin.com/in/reubenson" class="nav-item")
      i(class="fa fa-linkedin-square")
    a(href="https://www.instagram.com/prvtchronology/" class="nav-item")
      i(class="fa fa-instagram")
