block append navbar
  .nav-spacer
  nav
    h1 <a href="/" id="logo" class="nav-item">Reuben Son</a>
    // a(href="http://twitter.com/prvtchronology" class="nav-item" target="_blank")
      i(class="fa fa-twitter-square")
    a(href="https://github.com/reubenson" class="nav-item" target="_blank")
      i(class="fa fa-github-square")
    // a(href="https://www.linkedin.com/in/reubenson" class="nav-item" target="_blank")
      i(class="fa fa-linkedin-square")
    a(href="https://www.instagram.com/not_not_reuben" class="nav-item" target="_blank")
      i(class="fa fa-instagram")
