block append parallax
  .parallax
    .parallax_layer.parallax_layer_back
      .title Commission for the International Contemporary Ensemble
    .parallax_layer.parallax_layer_base
      .title Eli Keszler
