extends layout

block content
  #about
  //  include includes/about
  #main
    .main-background
    //include includes/bio
    //svg(data-fullscreen="true", data-mode="background")
    include includes/CV
    include includes/projects
