body {
  margin: 0px;
  font-size: 13pt;
  font-weight: 300;
  font-family: "Raleway", "Open Sans", Helvetical, Arial, sans-serif;
  background-color: #DDDDDD;
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 40px;
  background-color: grey;
  border-bottom: solid black 2px;
  font-size: 1.6em;
  opacity: 0.9;
  z-index: 2;
}

nav .nav-item {
  margin: auto;
  margin-top: 3px;
  padding-right: 0.3em;
  text-decoration: none;
  float: right;
}

nav #logo {
  text-transform: uppercase;
  font-weight: 400;
  float: left;
  margin-left: 0.3em;
  letter-spacing: 0.1em;
}

nav h1 {
  font-size: 1em;
  height: 40px;
  padding: 0px;
  margin: 0px;
  display: inline;
}

.nav-spacer {
  position: relative;
  height: 40px;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

#about {
  position: fixed;
  margin: 0px;
  height: 80vh;
  width: 100%;
  background-image: url('/images/studio.jpg');
  background-size: cover;
  background-position: right;
  z-index: -1;
}

#about h2 {
  text-align: justify;
  font-weight: 700;
  font-size: 1.2em;
  padding-top: 30vh;
  margin: auto;
  width: 70vw;
  color: white;
  text-shadow: 1px 3px black;
}

#about img {
  display: none;
  margin: auto auto 20px 20px;
  margin-right: 20px;
  padding: auto;
  float: left;
  width: auto;
  height: 90%;
  max-height: 250px;
  max-width: 250px;
  border: solid black 2px;
}

section.projects {
  margin-top: 80vh;
  background-color: white;
}

section.projects h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  border-bottom: solid black 3px;
}

.projects-index {
  width: 100%;
  /*margin-top: 60vh;*/
  z-index: 1;

  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -webkit-box-flex;
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;

  flex-wrap: wrap;
  -webkit-box-wrap: wrap;
  -webkit-box-flex-wrap: wrap;
  -moz-box-wrap: wrap;
  -ms-flexbox-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.projects-index h3 {
  text-align: center;
  margin: auto;
  font-weight: 400;
  letter-spacing: 0.4em;
  border-bottom: solid black 2px;
}

.project {
  background-position: center;
  background-size: cover;
  padding: 40px;
  border: solid black 2px;
  margin: 0px auto 5px auto;
  width: 90vw;
  max-width: 560px;
  max-height: 560px;
  overflow: scroll;
  font-size: 0.9em;
  z-index: 1;
}

.project-description,
.project-show {
  background-color: white;
  opacity: 0.8;
  padding: 2em;
  border: solid black 4px;
  text-align: justify;
}

.project-show {
  margin-top: 40px;
  max-width: 800px;
  margin: 40px auto;
}

.project-show h2 {
  margin: 0px 0px 10px 0px;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 0.3em;
  text-align: center;
  text-transform: uppercase;
  border-bottom: solid black 3px;
}

.project-show-image {
  width: 100%;
  border: solid black 3px;
  height: 200px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.project-link {
  display: block;
  width: 100%;
  margin-top: 10px;
  border-top: solid black 2px;
}

#Birdr { background-image: url("/images/birdr.jpg"); }

#Git-R { background-image: url("/images/git-r.jpg"); }

#QCVG { background-image: url("/images/qcvg.jpg"); }

#Private-Chronology { background-image: url("/images/private-chronology.jpg"); }

.project-description-text { display: none; }

iframe { border: none; padding: 10px; }

@media screen and (min-width: 600px) {
  #about img {
    /*display: block;*/
  }

  #about h2 {
    /*font-weight: 700;*/
    font-size: 1.5em;
    letter-spacing: 0.3em;
  }

  section.projects {
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .project-description-text {
    display: block;
    background-color: white;
  }

  .project {
    margin-bottom: 50px;
  }
}
