extends ../layout


block content
  canvas
  .project-show
    h2(class='project-title')= title
    div(id= title.replace(' ','-'), class='project-show-image')
    //.project-image
      //img(src='/images/'+title+'.jpg')
    != templateRender('projects/'+title.replace(' ','-')+'.html')
