extends ../layout

block content
  svg(data-fullscreen="true", data-mode="background")
  .project-show
    h2(class='project-title')= title
    div(id= title.replace(' ','-'), class='project-show-image')
    //.project-image
      //img(src='/images/'+title+'.jpg')
    != templateRender('projects/'+title.replace(' ','-')+'.html')
